@charset "utf-8";
/* "*html .class{}":专门针对ie6的style,可以是id; */

body {
	background-image:url(../img/bgimg.gif);
	background-repeat:repeat-x;
	padding:0;
	margin:0;
	font-size:medium;
	font-family:宋体;
}

#container {
	width:950px;
	margin-top:0;
	margin-left:auto;
	margin-right:auto;
}

#header {
	margin:0;
	height:120px;
}

#header img {
	margin-bottom:-5px; /*fuck ie6*/
}

#nav {
	width:950px;
	height:36px;
}

#nav ul {
	margin:0;
	padding:0;
	/*两个都必须*/
}

#nav ul li {
	list-style:none;
	float:left; /*fuck ie6!*/
}

#nav ul li a {
	display:block;
	float:left;
	height:36px;
	color:#ddd;
	text-decoration:none;
	line-height:36px;
	font-size:90%;
	font-weight:bolder;
	padding-left:10px;
	padding-right:10px;
}

#nav ul li a:visited {
	color:#ddd;
	text-decoration:none;
}


#nav ul li a.current {
	background-color:#fff;
	color:#444;
}

#nav ul li a:hover {
	color:#333;
	background-color:#fff;
	text-decoration:underline;
}

#content {
	float:left;
	background-color:#f8e8d0;
	width:600px;
	margin-left:8px;
	_margin-left:4px; /*fuck ie6*/
	margin-top:10px;
	padding-bottom:40px;
	border:2px #f4b2bd solid;
}

#content p {
	margin-top:0px;
	margin-bottom:5px;
	margin-left:10px;
	margin-right:10px;
	text-indent:2em;
	/*letter-spacing:1px;*/
	font-weight:bolder;
	color:#444;
	line-height:140%;
}

#content h2 {
	margin-left:10px;
	margin-right:10px;
	margin-top:35px;
	margin-bottom:15px;
	font-weight:bolder;
	font-size:150%;
	letter-spacing:0px;
	color:#1d50a5;
}

#content p.map {
	letter-spacing:0;
	text-indent:0;
	font-size:90%;
	color:#db5f25;
	font-weight:bolder;
	margin-left:10px;
	margin-right:10px;
	margin-top:5px;
	padding-bottom:5px;
	border-bottom:1px #db5f25 dashed;
}

#content ol {
	margin-top:10px;
	margin-right:10px;
	/*margin-left:10px;*/
	font-weight:bolder;
	color:#444;
}

#content ol li {
	padding-top:5px;
	padding-bottom:5px;
}

#content ol ol {
	margin-top:0;
	list-style:lower-latin;
}

#content ol ol li {
	font-weight:normal;
	padding-top:0;
	padding-bottom:0;
}

#content #flashpage {
	margin:3px;
	border:2px #555 solid;
}

#rightnav {
	clear:none;
	width:300px;
	margin-top:10px;
	margin-right:-1px; /*...fuck the damned ie6..*/
	margin-left:633px;
	background-color:#f8e8d0;
	border:2px #f4b2bd solid;
}

#rightnav ul {
	margin:0;
	padding:0;
	list-style:none;
}

#rightnav ul li {
	margin-left:5px;
	margin-right:5px;
	margin-top:10px;
	border-bottom:1px #f4b2bd dashed;
	padding-left:27px;
	padding-bottom:5px;
	background-image:url(../img/sblogo.gif);
	background-repeat:no-repeat;
	background-position:0 -4px;
}

#rightnav ul li.mouseselectbig {
	background-image:url(../img/sblogo1v4.gif);
}

#rightnav ul li.currentselect {
	background-image:url(../img/sblogo1v4.gif);
}

#rightnav ul li.back {
	border:0;
	text-align:right;
	background-image:url(../img/sblogo3.gif);
	background-repeat:no-repeat;
	background-position:212px -1px;
}

#rightnav a {
	text-decoration:none;
	color:#444;
	font-weight:bolder;
	font-size:120%;
}

#rightnav ul li.back a {
	font-size:90%;
	color:#777;
}

#rightnav ul li ul li {
	font-size:80%;
	background-image:url(../img/sblogo2.gif);
	background-repeat:no-repeat;
	background-position:0 -1px;
	border:0;
	padding-left:19px;
	
}

#rightnav ul ul li.mouseselectsmall {
	background-image:url(../img/sblogo2v2.gif);
}

#rightnav ul ul li.currentselectsmall {
	background-image:url(../img/sblogo2v2.gif);
}

#insidefooter {
	clear:both;
}

#footer {
	margin-top:15px;
	margin-bottom:0;
	clear:both;
	text-align:center;
	background-image:url(../img/footer.gif);
	background-repeat:repeat-x;
	padding-top:8px;
	padding-bottom:8px;
}


#footer p {
	font-size:90%;
	color:#ddd;
	font-weight:nomal;
	margin:0;
}

#news,#newestdownload {
	clear:none;
	width:300px;
	margin-top:10px;
	margin-right:-1px; /*...fuck the damned ie6..*/
	margin-left:633px;
	background-color:#f8e8d0;
	border:2px #f4b2bd solid;
	padding-left:5px;
	padding-right:5px;
}

#news h3,#newestdownload h3 {
	border-bottom:1px #f4b2bd solid;
	color:#C00;
	margin-bottom:10px;
}

#news p {
	margin:5px;
	color:#777;
	text-indent:2em;
	font-size:90%;
	font-weight:bolder;
	margin-bottom:20px;
}

#newestdownload h4 {
	text-align:right;
	color:#bbb;
	border-top:1px #f4b2bd dashed;
	margin-bottom:5px;
	padding-top:3px;
}